.main-container {
    background-color: white;
}

.image-class {
    border-radius: 12px;
}

.nav-text {
    color: grey;
}

.img-1 {
    width: 70px;
    height: 25px;
    margin-top: 1px;
}

.navv {
    width: 50vw;
}

body,
html {
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: #f8f9fa;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);

}

.form-container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;

}

.password-container {
    position: relative;
}

.password-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.links a {
    margin-right: 10px;
    color: green;
    font-size: 12px;
}

.links a:hover {
    text-decoration: underline;
}

@media (min-width: 992px) {
    .col-lg-6 img {
        max-width: 100%;
    }
}

.show-class {
    color: green;
}

.remember_me {
    color: green;
}

.login-button {
    border-radius: 20px;
    height: 36px;
    width: 330px;
}

.border {
    border-radius: 5px;
    height: 48px;
}

.para {
    font-size: 12px;
    color: grey;
}

.enroll-btn {
    color: green;
    background-color: transparent;
    border-radius: 15px;
    border-color: green;
}

.house-logo {
    color: grey;
    background-color: grey;
    height: 5px;
}

.img-fluid {
    border-radius: 20px;
    margin: 20px;
    margin-top: 50px;

}